[Service]
ExecStart=/usr/local/bin/identtelnet
ReadOnlyDirectories=/
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target

[Unit]
After=network.target
