[Service]
ExecStart=/usr/local/bin/identhttp
ReadWriteDirectories=/certs
PrivateTmp=true
NoNewPrivileges=true
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target

[Unit]
After=network.target
